/* Body of the html file attributes. */
body {
    font-family: arial, sans-serif;
}

/* Google Logo Centered. */
.Google-Logo {
    width: 300px;
    height: 100px;
    padding-left: 0;
    padding-top: 110px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.div0 {
    width: 100px;
    padding-left: 200px;
    float: center;
}

/* Search Bar attributes. */
#ip2 {
    border-radius: 25px;
    border: 0.02px solid lightgray;
    padding: 20px;
    width: 584px;
    height: 0.02px;
    width: 584px;
    height: 34px;
    font-size: 16px;
    position: relative;
    top: 75px;
    left: 5px;
    padding: 1px 2px;
    margin-top: -37px;
}

/* Google Search button attributes. */
.google-search {
    background-color: #f8f9f8;
    border: 1px solid #f8f9f8;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-left: -144px;
    margin-top: 95px;
}

/* Search Button hover animation. */
.google-search:hover {
    border: 1px solid #bbb4b4;
}

/* I'm Feeling Lucky Button attirbutes. */
.feeling-lucky {
    background-color: #f8f8f8;
    border: 1px solid #f8f9f8;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: absolute;
    margin-left: 0px;
    margin-top: -47px;
}

/* I'm Feeling Lucky Button hover animation. */
.feeling-lucky:hover {
    border: 1px solid #bbb4b4;
}

/* Beginning of input style attributes. */
input:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

input:focus {
    outline: none;
}
/* End of input style attributes. */

/* Add a white background color  to the top navigation bar. */
.topnav {
    overflow: hidden;
    background-color: white;
    list-style: none;
}

/* Style the links inside the navigation bar. */
.topnav a {
    float: right;
    color: black;
    text-align: left;
    padding: 0px 4px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 13px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

/* Change the color of links on hover. */
.topnav a:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
}

/* Add a color to the active/current link. */
.topnav a.active {
    background-color: transparent;
    color: black;
}

/* Google Image Search Button Attributes. */
.google-image-search {
    background-color: #f8f9f8;
    border: 1px solid #f8f9f8;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-left: 0;
    margin-top: 95px;
}

/* Google Images Logo atrributes and centered. */
.Google-Image-Logo {
    background-size: 272px 92px;
    width: 272px;
    height: 92px;
    padding-left: 0;
    padding-top: 110px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

#wrapper {
    max-width: 200px;
    margin: 0 auto;
}

/* Image of Google Logo will scale down and always be centered when the parent function gets smaller. */
#wrapper img {
    width: 100%;
}

/* Google Advanced Search body attributes. */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* "Advanced Search" Navigation Bar Heading allignment. */
#adiv1 {
    margin-left: 30px;
    padding-top: 37px;
}

/* Google Advanced Search Top Navigation bar logo. */
.advanced-logo {
    vertical-align: left;
    border-style: none;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 0;
    padding-top: 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    position: absolute;
    width: 74px;
    height: 24px;
}

/* Text feilds are left aligned. */
#adiv2 {
    margin-left: 45px;
    margin-top: 30ox;
}

/* Text boxes attributes. */
.form-control {
    width: 100%;
    text-align: left;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black,white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    appearance: auto;
    cursor: text;
    margin: 0cm;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
}

/* Find Pages With Header Allignment. */
#span2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 16px;
    vertical-align: baseline;
    text-decoration: none;
}

/* Heading next to the text box allignment and attributes. */
.form-group {
    margin: 30px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 13px;
    vertical-align: baseline;
    text-decoration: none;
}